{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="contact-form d-grid gap-2 col-lg-6 mt-5 mx-auto wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
        <a href="{%url 'timetable_a'%}" class="btn btn-outline-primary ">Group A timetable</a>
        <a href="{%url 'timetable_b'%}" class="btn btn-outline-primary">Group B timetable</a>
        <br>
        <br>
        <a href="{%url 'timetable_c'%}" class="btn btn-outline-primary">Group C timetable</a>
        <a href="{%url 'timetable_d'%}" class="btn btn-outline-primary">Group D timetable</a>
    </div>
</div>
{% endblock %}