{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Know Your Group <span class="color">Computer Science</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>


			<!-- Contact Form -->
			<div class="contact-form col-lg-6 mt-2 mx-auto mt-lg-0 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="post" action=" " role="form">
          {%csrf_token%}
					<div class="form-group">
						<input type="text" placeholder="Enter Full Name: LastName(surname)    FirstName" class="form-control" name="name" id="name" required>
					</div>
					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" value="Enter">
					</div>

				</form>
        <br>
        <h2 class="">{{result}}</h2>
			</div>
			<!-- ./End Contact Form -->

		</div> <!-- end row -->
	</div> <!-- end container -->


</section> <!-- end section -->

{% endblock %}