{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
    <div style="float:right;" class="images">
        <img class="image1" src="{%static "images/babcock_logo.png"%}" alt="babcock University">
        <img class="image2" src="{%static "images/bucc_logo.png"%}" alt="bucc">
    </div>
    <div class="title">Know Your Group (Computer Science)</div>
    <form action="" method="post">
        {% csrf_token %}
      <div class="user__details">
        <div class="input__box">
          <span class="details">Enter Full Name</span>
          <input type="text" placeholder="LastName(Surname)          FirstName" name="name" required>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Group">
      </div>
    </form>
    <h2>{{result}}</h2>

</div>
{% endblock %}